@import url(bootstrap);
@import url(bootstrap-icons);

* {
    font-family: Open Sans;
}

header {
    background-color: white;




    a {
        color: black !important;
    }

    .border_hover {
        padding: 2.5rem 0;
        height: 100%;


        li {
            height: 100%;
        }
    }



    .border_hover:hover {
        border-bottom: 3px solid #0c7cec;

        a {
            color: #0c7cec !important;

        }
    }
}

main {
    .container_main {
        background-color: #1c1c1c;
        color: white;
        padding: 3rem;

        a {
            color: white;
            text-decoration: none;
        }
    }

    img {
        width: 80px;
    }
}