@import url(bootstrap);


header {
    background-color: white;




    a {
        color: black !important;
    }

    .border_hover {
        padding: 2.5rem 0;
        height: 100%;


        li {
            height: 100%;
        }
    }



    .border_hover:hover {
        border-bottom: 1px solid #0c7cec;

        a {
            color: #0c7cec !important;

        }
    }
}