@import url(bootstrap);
@import url(bootstrap-icons);

* {
    font-family: Open Sans;
}

header {
    background-color: white;




    a {
        color: black !important;
    }

    .border_hover {
        padding: 2.5rem 0;
        height: 100%;


        li {
            height: 100%;
        }
    }



    .border_hover:hover {
        border-bottom: 3px solid #0c7cec;

        a {
            color: #0c7cec !important;

        }
    }
}

main {
    .container_main {
        background-color: #1c1c1c;
        color: white;
        padding: 3rem;

        a {
            color: white;
            text-decoration: none;
        }
    }

    img {
        width: 80px;
    }

    .locator {
        width: 60px;
    }
}

.footer_bg {
    background-image: url(./assets/img/footer-bg.jpg);

    .link {
        padding-top: 1.5rem;
        padding-bottom: 3rem;
    }


    ul {
        list-style: none;

        li {

            color: white;

            h4 {
                padding-top: 1.5rem;
            }

            a {
                text-decoration: none;
                color: #636f6e;
            }


        }
    }

    .dc_bg {
        background-image: url(./assets/img/dc-logo-bg.png);
        background-size: cover;
        background-position: center;
        height: 26.5rem;
        width: 35rem;
    }
}