@import url(bootstrap);
@import url(bootstrap-icons);

* {
    font-family: "Open Sans";
}

header {
    background-color: white;




    a {
        color: black !important;
    }

    .border_hover {
        padding: 2.5rem 0;
        height: 100%;


        li {
            height: 100%;
        }
    }



    .border_hover:hover {
        border-bottom: 3px solid #0c7cec;

        a {
            color: #0c7cec !important;

        }
    }
}

main {
    .container_main {

        color: white;
        width: 100%;


        a {
            color: white;
            text-decoration: none;
        }
    }

    img {
        width: 80px;
    }

    .locator {
        width: 60px;
    }

    .bg_blue {
        background-color: #0282f9;
        color: white;
        padding: 2rem 0;

        a {
            color: white;
            text-decoration: none;
        }
    }
}

.footer_bg_img {
    background-image: url(./assets/img/footer-bg.jpg);

    .link {
        padding-top: 1.5rem;
        padding-bottom: 3rem;
    }


    ul {
        list-style: none;

        li {

            color: white;

            h4 {
                padding-top: 1.5rem;
            }

            a {
                text-decoration: none;
                color: #636f6e;
            }


        }
    }

    .dc_bg {
        background-image: url(./assets/img/dc-logo-bg.png);
        background-size: cover;
        background-position: center;
        height: 26.5rem;
        width: 35rem;
    }
}

.footer_bg {
    background-color: #303030;
}

.follow {
    padding: 1rem 0;

    button {
        color: white;
        border: 1px solid #0c7cec;
        background-color: #303030;
    }

    img {
        padding: 0 0.5rem;
        width: 50px;
    }

    p {
        padding-top: 1rem;
        padding-right: 1rem;
        color: #0c7cec;
        font-size: small;
    }
}

.bg_jumbo {
    background-image: url(./assets/img/jumbotron.jpg);
    background-size: cover;
    min-height: 525px;

    .container {
        position: relative;

        span {
            position: absolute;
            padding: 1rem;
            top: 490px;
        }
    }
}

.bg_black {
    background-color: #1c1c1c;
    padding-top: 5rem;
    padding-bottom: 1.5rem;

    img {

        width: 100%;
        object-fit: cover;


    }

    button {
        background-color: #0c7cec;
        color: white;
        padding: 0.5rem 2rem;
        border: 0;
    }
}

.card {
    border: 0;
    height: 200px;
    overflow: hidden;
}